@font-face{
    font-family: 'JetBrainsMono';
    src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
      url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }
table.class{
    width: 100%;
    border: none;
}
td.class{
    border: solid #be29ec 5px;
    background-color:#660066;
}
.img1{
    margin:10px; width: auto; height:auto; float:right; border:none;
}
.img2{
    margin:10px; width: auto; height:auto; float:left; border:none;
}
*{
    color: rgb(236, 222, 222);
    font-family: 'JetBrainsMono';
    
}
article{
    text-align: center;
    font-family: 'JetBrainsMono';
}
header{
    border:2px solid rgb(0, 0, 0);
    text-align:center;
    background: #660066;
    height:120px;
    font-family: 'JetBrainsMono';
}
footer{
    border:2px solid rgb(0, 0, 0);
    background-color:#660066;
    font-family: JetBrainsMono-Regular;   
}

a.links {
    padding:1px;
    color: rgb(0, 0, 0) !important; 
    text-decoration-line: none !important;
    text-decoration:none !important;
    border:2px solid black !important;
    background-color: #efbbff !important;
}
body{
    background-color:rgb(66, 66, 66);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh; 
    font-family: 'JetBrainsMono', Fallback, sans-serif;
}
.button,.radio,.result,.field{
    background-color: #000000 !important;
    color: #efbbff !important;
}
.foot{
    width: 100%; 
    order: none;
}
.header{
    background-color:#be29ec;
    margin-left: 30%;
    margin-right: 30%;
    padding: 10px;
    height:15px;
    border:2px solid black;
}
.links{
    color:rgb(0, 0, 0);
    padding:0px
}
.left{
    text-align: left;
    
}
.right{
    text-align: right;
}
.middle{
    text-align: center;
}
.mainbody{
    background-color: #660066;
    width:80%;
    clear:none;
    margin:auto;
    border:3px solid #000000;
}
.center{
    margin-left: auto;
    margin-right: auto;
}